header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
    padding: 35px;
    
  }

  h1::after {
    font-family: Impact;
    font-style: oblique;
    content: ' DASHBOARD🌦️';
    color: #8ac4ff;
    margin-left: 5px;
    
  }


main{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(165, 130, 130);
    
}

.left   {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 10px;
}

.right {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 900;
    font-style: oblique;
    padding: 20px;
    color: white;
}

#searchHistory{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    
}

/* added clear button styling  */
#clear{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 1);
    background-color: #8ac4ff;
    margin-bottom: 8px; 
}

/* added clear history btn styling */
#clearHistory{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 1);
    background-color: #8ac4ff;
    margin-top: 20px;  
}


.fiveDayForecast{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.fiveDayForecast div{
    border: solid 1px black;
    background-color: black;
    color: white;
    margin-left: 18px;
}

#search-btn{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 1);
    margin-bottom: 8px;
    background-color: #8ac4ff;

}

/* added search-input styling */
#search-input{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 1);
    gap: 10px;
    margin-bottom: 8px;
}

/* added button styling */
button{
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 1);
    gap: 10px;
    margin-bottom: 8px;
}


/*  */
@media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }

    /* .right {
        order: 2;
      }
   */
    /* main {
      max-width: 1200px;
      display: flex;
      flex-direction: column;                               
    } */
  }