header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
    padding: 35px;
  }

  h1::after {
    font-family: Impact;
    font-style: oblique;
    content: ' DASHBOARD🌦️';
    color: #8ac4ff;
    margin-left: 5px;
  }


main{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(165, 130, 130);
    
}

.left   {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 30px;
}

.right {
    display: flex;
    flex-direction: column;
    width: 70%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 900;
    font-style: oblique;
    padding: 20px;
}

#searchHistory{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    
}

/* added clear button stying line 52 thru 59 */
#clear{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 1); 
}

.fiveDayForecast{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.fiveDayForecast div{
    border: solid 1px black;
    background-color: black;
    color: white;
}

#search-btn{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 1);
    margin-bottom: 5px;

}

/* added search-input styling */
#search-input{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 1);
    gap: 10px;
    margin-bottom: 5px;
}


/*  */
@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
      display: flex;
      flex-direction: column                               ;
    }
  }